<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Filter</key>
	<dict>
		<key>Bundles</key>
		<array/>
		<key>Executables</key>
		<array/>
		<key>Classes</key>
		<array/>
		<key>CoreFoundationVersion</key>
		<dict>
			<key>Min</key>
			<real>1140.0</real>
		</dict>
	</dict>
</dict>
</plist>
